<% @render_sign_in_out_panel = false %>
<h3 class="sign_in_text">
	Just sign in real quick and we'll send you on your way.
</h3>

<%= render '/layouts/sign_in_out_panel', :show_links_only => false  %>