<div class="general">
	<h2>About IdeaWick</h2>
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span3">
				<div class="hidden-phone">
		      <img src="/assets/puzzle.jpg"/>
					<div class="image_attribution">
						image courtesy of <a href="http://thegoldguys.blogspot.com">thegoldguys.blogspot.com</a>
					</div>
				</div>
	    </div>
	    <div class="span9">
				<p>
					IdeaWick puts the power of crowdsourcing into the hands of everyday Internet users.  The concept is simple.  
					Users create sites for topics which they want to generate ideas.  
					Other users contribute their ideas to the topic.  
					Then, people vote on the ideas they like best and the highest voted ideas rise to the top.
				</p>
				<p>
					IdeaWick is all about collaboration.  It was built around the idea that "Nobody is as smart as Everybody".  The goal
					is to create an atmosphere for people to come together as a community to innovate and create.  By following
					open source principles such as collaboration, transparency, and information sharing, we can come together as a
					community to make the world a better place. 
				</p>
				<%= render '/layouts/main_action_buttons'%>
	    </div>
	  </div>
	</div>
</div>