<style>
	body 
	{ 
		background:#111e56
	}
</style>
<div class="outer_box">
	<div id="home_links_container">
		<div id="home_links">
			<a class="last" href="/general/about">About IdeaWick</a>
		</div>
	</div>
	<div class="inner_box">
		<div class="home_header">
			<h2>Start Collecting Great Ideas Now!</h2>
		</div>
		<ul class="main">
			<li>
				<i class="icon-star-empty"></i>Collect real-time ideas from your users
			</li>
			<li>
				<i class="icon-star-empty"></i> Let visitors decide by voting for their favorites
			</li> 
			<li>
				<i class="icon-star-empty"></i> It's super easy to get started!
			</li>
		</ul>
			<%= render '/layouts/main_action_buttons'%>
	</div>
</div>