.general h2
{
	background-color: whiteSmoke;
	margin-bottom:10px;
	padding-left: 7px;
}

.general p
{
	font-size:1.1em;
	line-height:1.5;
	color:#333;
	text-align:justify;
	margin-bottom:18px;
}

.general .image_container
{
	float:left;
	margin-right:10px;
}

.general .image_container img
{
	width:300px;
}