	<!-- Javascripts
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag "application" %>
	<% if Rails.env.production? %>
		<%= render :partial => 'layouts/ga' %>
	<% end %>
	</body>
</html>