<div class="main_options">
	<div class="outer_center">
		<div class="inner_center">
			<a href="<%= new_site_path() %>" style="cursor:pointer;">
				<div class="main_option_button">
					<div class="option_text">
						<i class="icon-play-circle"></i> 
						Create an Idea Site
					</div>
				</div>
			</a>
			<a style="cursor:pointer;" href="/browseSites">
				<div class="main_option_button">
					<div class="option_text">
						<i class="icon-play-circle"></i> 
						Browse Idea Sites
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="clear"></div>
</div>